header {
    nav {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: rgb(48, 48, 82);

        div {
            ul { 
                li {
                    a {
                        color: rgb(255, 255, 255) !important;
                    }
                }
            }
        }
    }
}

.navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}