@media screen and (max-width: 999px) {


        .eventos img,
        .eventos1 div div img {
                width: 80%;
                margin: 20%;
                height: auto;
        }

        .eventos1-container {
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        .hero {
                padding: 50px;
                font-size: 20px;
        }

        nav {
                font-size: 20px;
        }

        main .generaciones {
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 70% 70%;
        grid-gap: 20%;
        margin: 30%;
        }
        main .generaciones img{
                width: 200px;
                height: 200px;
                border-radius: 40px;
                box-shadow: 0 4px 8px  rgb(48, 48, 82);}
        }